.Skills {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */


}

.Skills h1 {
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    padding-left: 20px;
    /* color: rgba(61, 90, 161, 1); */
    color: black;
    font-size: 40px;
}

@media (max-width:768px) {
    .Skills h1 {
        font-size: 25px;
    }
}

.skillsmidcontainer {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
}

/* ------------- SKILLS CARD */

.hoverContainer {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}

@media (max-width:530px) {
    .hoverContainer {
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.hovercard {
    width: 200px;
    height: 250px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #f1f2f6;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    cursor: pointer;
    font-size: 30px;

    /* background: linear-gradient(91.91deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100.82%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */

    transition: 300ms ease-in-out;
}

@media (max-width:768px) {
    .hovercard {
        width: 150px;
        height: 200px;
        font-size: 16px;
    }
}

@media (max-width:530px) {
    .hovercard {
        width: 100px;
        height: 150px;
        font-size: 16px;
    }
}


.hovercardimg {
    width: 50px;
    height: 50px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hovercard+.hovercard {
    margin-left: -10%;
}

@media (max-width:530px) {
    .hovercard+.hovercard {
        margin-left: -15%;
        ;
    }
}

.hovercard:hover {
    transform: rotate(-4deg);
}

.hovercard:hover~.hovercard {
    z-index: 1;
    translate: 60px;
}