@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 60%;
  height: 75%;
  border: 3px solid rgb(255, 255, 255);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;

  background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
  backdrop-filter: blur(5px);
  border-radius: 30px;

  display: flex;
}

@media (max-width:1400px) {
  .App {
    width: 85%;
    height: 80%;
  }
}

@media (max-width:1200px) {
  .App {
    width: 95%;
    height: 80%;
    margin-top: 10px;
  }
}

@media (max-width:768px) {
  .App {
    width: 95%;
    height: 85%;
    margin-top: 20px;
    border: 2px solid black;
  }
}