.Portfolio {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */

}

.Portfolio h1 {
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    padding-left: 20px;
    /* color: rgba(61, 90, 161, 1); */
    color: black;
    font-size: 40px;
}

@media (max-width:768px) {
    .Portfolio h1 {
        font-size: 25px;
    }
}

.cardContainer {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;

    overflow: auto;
    padding: 50px;
    /* border: 1px solid black; */
    gap: 20px;
}

@media (max-width:768px) {
    .cardContainer {
        align-items: center;
        padding: 10px;
    }
}

.cardContainer::-webkit-scrollbar {
    display: none;
}

.cardmain {
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    gap: 20px;
    transition: all .3s ease;


    background: linear-gradient(91.91deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100.82%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

@media (max-width:768px) {
    .cardmain {
        width: 95%;
    }
}


.cardmain:hover {
    scale: 1.05;
}

@media (max-width:768px) {
    .cardmain:hover {
        scale: 1;
    }
}


.cardMainTop {
    cursor: pointer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;

}

.cardtitle{

}

.subtitles {
    font-weight: 500;
    font-size: 12px;
}

@media (max-width:530px) {
    .subtitles {
        font-size: 10px;
    }
}

/* @media (max-width:530px) {
    .cardMainTop {
        flex-direction: column;
    }
} */

.cardimage {
    width: 25%;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 1rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:530px) {
    .cardimage {
        width: 50%;
    }
}

.cardinfo {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    overflow: hidden;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    /* gap: 10px; */
    padding-left: 20px;
}

@media (max-width:530px) {
    .cardinfo {
        font-size: 12px;
        padding-left: 10px;
    }
}


.iscardresponsive {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid black;  */
}

@media (max-width:530px) {
    .iscardresponsive {
        align-self: flex-start;
    }
}

.iscardresponsive span {
    font-size: 20px;
}

.cardright {
    width: 15%;
    height: 100px;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plusMinus {
    font-size: 30px;
    color: #0984e3;
}

@media (max-width:530px) {
    .plusMinus {
        font-size: 20px;
    }
}



/* ---------------- CONTENT */

.content {
    /* border: 1px solid black; */
    width: 100%;
    height: 0;
    padding: 10px;
    /* transition: all 1s cubic-bezier(0, 1, 0, 1); */
    /* transition: all 1s ease; */
    display: none;
    overflow-wrap: break-word;
}

.content.show {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;

    border-top: 1px solid rgb(146, 146, 146);
    width: 100%;
    height: auto;
    max-height: 9999px;
    /* transition: all 1s cubic-bezier(1, 0, 1, 0); */
    /* transition: all 1s ease; */
    overflow-wrap: break-word;
}

.codeBTN {
    cursor: pointer;
    width: 20%;
    height: 40px;
    border-radius: 50px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #FE0944;


    color: white;
    transition: all .3s ease;
}

@media (max-width:1500px) {
    .codeBTN {
        width: 30%;
    }
}

@media (max-width:768px) {
    .codeBTN {
        width: 50%;
    }
}

@media (max-width:530px) {
    .codeBTN {
        width: 70%;
    }
}


.codeBTN span {
    font-size: 18px;
}

.codeBTN:hover {
    color: black;
}